spring:
  application:
    name: site-processor
  pagination:
    default:
      page: 0
      size: 10
  data:
    redis:
      prefix-key: site
      ttl-seconds: 3600
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
      repositories:
        enabled: false
  cloud:
    gcp:
      pubsub:
        topic:
          site-events: site-events

resilience4j:
  retry:
    configs:
      default:
        maxAttempts: 3
        waitDuration: 500ms
        retryExceptions:
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.data.redis.RedisConnectionFailureException
        ignoreExceptions:
          - org.springframework.web.server.ResponseStatusException
    instances:
      firestore:
        baseConfig: default
      pubsub:
        baseConfig: default
      cache:
        baseConfig: default
        maxAttempts: 2
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
    instances:
      firestore:
        baseConfig: default
      pubsub:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 5s
        cancelRunningFuture: true
    instances:
      firestore:
        baseConfig: default
      pubsub:
        baseConfig: default
