apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: service-site-processor
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/network-interfaces: '[{"network":"default","subnetwork":"default"}]'
        run.googleapis.com/vpc-access-egress: all-traffic
    spec:
      serviceAccountName: cr-site-proc-prod@green-energy-tracker-cloud-v3.iam.gserviceaccount.com
      containers:
        - image: site-processor
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATA_REDIS_HOST
              value: "10.185.178.99"
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi